/* purgecss start ignore */
@tailwind base;

@tailwind components;
/* purgecss end ignore */

.btn-primary-outline {
    @apply border border-2 border-primary-text text-primary-text font-bold uppercase py-3 px-6 my-1 mx-1 rounded-full shadow-lg;
}

.btn-primary-outline:hover {
    @apply border-primary-light text-primary-light;
}

.btn {
    @apply font-bold uppercase py-3 px-6 my-1 mx-1 rounded-full shadow-lg;
}   

.btn-primary {
    @apply bg-primary-text text-primary-dark;
}

.btn-primary:hover {
    @apply bg-primary-light text-primary-text;
}

.search-container {
    @apply flex flex-row mx-6 my-6 px-6 py-4  text-center;
}

.search-input {
    @apply w-3/4 rounded-l-full shadow-lg text-grey px-6;
}

.search-button {
    @apply w-1/4 bg-secondary py-3 px-6 rounded-r-full shadow-lg font-bold uppercase text-primary-text;
}

@tailwind utilities;