@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap');

// Set your brand colors
$purple: #7655E9;
$purple-light: #B1A0EE;
$purple-dark: #7655ea;

$white: #ffffff;
$yellow: #fed500;

// Update Bulma's global variables
$family-sans-serif: "Fira Sans", sans-serif;

$primary: $white;
$info: $yellow;
$text: $white;

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $purple;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
// @import "../node_modules/bulma/sass/utilities/_all.sass";
// @import "../node_modules/bulma/sass/base/_all.sass";
// @import "../node_modules/bulma/sass/elements/button.sass";
// @import "../node_modules/bulma/sass/elements/container.sass";
// @import "../node_modules/bulma/sass/elements/title.sass";
// @import "../node_modules/bulma/sass/form/_all.sass";
// @import "../node_modules/bulma/sass/components/navbar.sass";
// @import "../node_modules/bulma/sass/layout/hero.sass";
// @import "../node_modules/bulma/sass/layout/section.sass";